/***
@stylesheet:	main
@project:		barrel base shopify theme
@version:		1.0
@groups:		* base stylesheets
				* components stylesheets
				* modules stylesheets
				* partials stylesheets
				* templates stylesheets
@target:		none
***/


/* Base Stylesheets
------------------------------------------------------------ */
@import "base/var";
@import "base/functions";
@import "base/mixins";
@import "base/transitions";
@import "base/normalize";
@import "base/layout";


/* Components Stylesheets
------------------------------------------------------------ */
@import "components/buttons";


/* Modules Stylesheets
------------------------------------------------------------ */
/* @import "modules/**"; */


/* Partials Stylesheets
------------------------------------------------------------ */
@import "partials/header";
@import "partials/footer";


/* Templates Stylesheets
------------------------------------------------------------ */
@import "templates/index";
