//VARIABLES
@import "lib/colors";
$border: 1px solid $cb;
$borderLight: 1px solid $cg1;

// BASE
@import "lib/normalize";
@import "lib/breakpoints";
@import "lib/display";
@import "lib/widths";
@import "lib/containers";
@import "lib/positioning";
@import "lib/flexbox";
@import "lib/align";
@import "lib/floats";
@import "lib/z-index";
@import "lib/typography";
@import "lib/buttons";
@import "lib/forms";
@import "lib/lists";
@import "lib/tables";
@import "lib/spacing";

// PAGES
@import "pages/account";

#page {
  min-height: 100vh;
}

// GENERAL STYLES
.outer {
  padding-left: 2em;
  padding-right: 2em;
}

// Text links
.link {
  color: $c1;
}
