{
  plugins: [
    'transform-object-rest-spread',
    'transform-object-assign',
    'transform-decorators-legacy',
    ["transform-react-jsx", { "pragma": "h" }]
  ],
  "sourceMaps": true,
  "presets": [
    "stage-0",
    "es2015"
  ],
}
