<section class="outer">
  <div class="page__title mt2">
    <div class="container--m mha">
      <h1 class="h2 mb075 align-c">Your Bag</h1>
    </div>
  </div>

  <div class="container--m mha">
    {% if cart.item_count > 0 %}
      <form action="/cart" method="post" novalidate class="cart table-wrap">
        <div class="cart w1">
          <div class="cart__header table__row-header">
            <div class="cart__header__item table__cell pv05">Item</div>
            <div class="cart__header__item table__cell pv05 align-c">Price</div>
            <div class="cart__header__item table__cell pv05 align-c">Quantity</div>
            <div class="cart__header__item table__cell pv05 align-c">Total</div>
          </div>
          <div class="cart__body pb1 mb2 w1">
            {% for item in cart.items %}
              {% include 'cart-item' %}
            {% endfor %}
          </div>
        </div>
        <div class="cart__note mv2">
          <div class="">
            <label for="cartNote">Add a note to your order:</label>
            <textarea name="note" class="w1" id="cartNote" rows="5">{{ cart.note }}</textarea>
          </div>
        </div>
        <div class="cart__footer align-c">
          <h3 class="mb025">Subtotal: {{ cart.total_price | money }}</h3>
          <h4 class="cg6">Savings: {{ cart.total_discounts | money }}</h4>
        </div>

        <div class="cart__footer__bottom outer mb2">
          <div class="container--s mha align-c">
            <p class="mb1 mt0">Total excludes shipping and taxes.</p>
            <a href="/" class="link mr1">Keep Shopping</a>
            <button type="submit" name="checkout" class="button">Checkout</button>
            <button type="submit" name="update" class="link">Update</button>
          </div>
        </div>
      </form>
    {% else %}
      <div class="align-c mb2">
        <h3>Your cart is currently empty.</h3>
      </div>

      <div class="cart__footer__bottom outer mb2">
        <div class="container--s mha align-c">
          <a href="/collections/new-arrivals" class="button">Shop New Arrivals</a>
        </div>
      </div>
    {% endif %}
  </div>
</section>

{% include 'shipping-calculator' %}
