<!-- /templates/index.liquid -->

<div class="index container">
  {% assign src = 'test.jpg' | file_img_url: '800x' %}
  {% assign retina = 'test.jpg' | file_img_url: 'master' %}
  {% capture srcset %}
    {{ 'test.jpg' | file_img_url: '480x' }} 320w, {{ 'test.jpg' | file_img_url: '1000x' }} 760w, {{ 'test.jpg' | file_img_url: '1500x' }} 1024w
  {% endcapture %}
  {% include 'image', src: src, retina: retina, srcset: srcset, seo: 'This is my image' %}

  {% include 'carousel', collection: collections.frontpage %}
</div>
