<section class="outer mt2 pt2">
  <div class="container--s mha">
    <h1 class="h2 mb0">Style Guide</h1>
  </div>
</section>

<div class="outer pv2">
  <div class="container--s mha mb2">
    <p class="b">Forms</p>
    <form>
      <div>
        {% include 'checkbox', name: 'checkbox', label: 'Checkbox' %}
      </div>
      <div>
        {% include 'text-input', name: 'text-input', label: 'Text Input', placeholder: 'Write..' %}
      </div>
  </div>
</div>
