<section class="outer mt2 pt2">
  <div class="container--s mha">
    <h1 class="h2 mb0">Style Guide</h1>
  </div>
</section>

<div class="outer pv2">
  <div class="container--s mha mb2">

    <!-- 1. Wysiwyg -->
    <p class="h1">Wysiwyg</p>
    <hr/>
    {% include 'wysiwyg' with content: page.content %}

    <!-- 2. Forms -->
    <p class="h1 mt2">Forms</p>
    <hr/>
    <form class="mt2">
      <div>
        {% include 'checkbox', name: 'checkbox', label: 'Checkbox' %}
      </div>
      <div>
        {% include 'text-input', name: 'text-input', label: 'Text Input', placeholder: 'Write..' %}
      </div>
      <div>
        {% assign selectOptions = 'Select Option 1,Select Option 2,Select Option 3,Select Option 4' | split: ',' %}
        {% assign selectValues = '1,2,3,4' | split: ',' %}
        {% include 'select',
            name: 'select',
            class: 'styleguide-select',
            label: 'Select Input',
            placeholder: '-- Choose an option --',
            options: selectOptions,
            values: selectValues,
            value: false
        %}
      </div>

    <!-- 3. Icons -->
    <p class="h1 mt2">Icons</p>
    <hr/>

    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-search' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-map' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-checkmark' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-alert' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-cart' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-facebook' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-twitter' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-instagram' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-pinterest' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-youtube' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-x' %}
    </div>
    <div class="icon--s p mt1 mr1 inline-block">
      {% include 'icon' with 'icon-refresh' %}
    </div>

  </div>
</div>
