{%- layout none -%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body>
  {%- form 'storefront_password' -%}
    <div class="row">
      <div class="row__item">
        <label class="lbl p2">Password</label>
        <input class="fd {%- if form.errors -%}is-error{%- endif -%}" placeholder="Enter password" type="password" name="password" autocorrect="off" autocapitalize="off" autofocus required>
      </div>
    </div>
    <div class="row">
      <button type="submit">
        <span>Enter</span>
      </button>
    </div>
    {%- if form.errors -%}
      <div class="row is-error">
        <p class="error p2">{{- form.errors | default_errors | strip_html -}}</p>
      </div>
    {%- endif -%}
  {%- endform -%}
</body>
