<div class="outer mt2 align-l">

  <div id="login_form" class="account-entry-form mha">
    <h1 class="h2 mb05">Hello there!</h1>
    <p>We're not quite ready for visitors yet, but we will be soon! Check back later :)</p>

		{% form 'storefront_password' %}

      {% assign field_label = 'Password:' %}
      {% assign field_name = 'password' %}
      {% assign field_type = 'password' %}
      {% include 'input-text' %}

      <div class="mt2">
        <button type="submit" class="button">Enter</button>
      </div>

		{% endform %}
  </div>
</div>
