<!-- /templates/product.liquid -->

<section class="outer mt2" itemscope itemtype="http://schema.org/Product">

    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    {% include 'product-purchase' %}
</section>
