<nav class="account__nav p">
  <ul class="list--reset align-c">
    <li class="account__nav__link inline-block">
      {% if template contains 'account' %}
        <span class="ph1">Account Home</span>
      {% else %}
        <a class="ph1 underline c1" href="/account">Account Home</a>
      {% endif %}
    </li>
    <li class="account__nav__link inline-block">
      {% if template contains 'address' %}
        <span class="ph1">Manage Addresses</span>
      {% else %}
        <a class="ph1 underline c1" href="account/addresses">Manage Addresses</a>
      {% endif %}
    </li>
  </ul>
</nav>
