<div class="clear">
  <div class="account__logout pv05 ph1 bg-cw"><a href="/account/logout">Log Out</a></div>
</div>

<section class="page__title outer mt2">
  <div class="container--m mha">
    <h1 class="h2 mb025 align-c">{{ account_page_title }}</h1>
    {% include 'account-nav' %}
  </div>
</section>
