<!-- /snippets/account-nav.liquid -->

<nav class="account__nav p">
    <ul class="list--reset align-c">
        <li class="account__nav__link inline-block">
            <a class="ph1 {% if template contains 'account' %}underline c1{% endif %}" href="/account">Account Home</a>
        </li>
        <li class="account__nav__link inline-block">
            <a class="ph1 {% if template contains 'addresses' %}underline c1{% endif %}" href="/account/addresses">Manage Addresses</a>
        </li>
    </ul>
</nav>
