{% if alert_message %}
  <div class="alert px1 mv1 flex flex-items-center w1 {{alert_classes}}">
    <div class="alert__message pr1 p">{{alert_message}}</div>

    <div class="alert__icon flex-auto align-r">
      {% if alert_type == 'error' %}
        <svg viewBox='0 0 12 11' class="inline-block">
          <use xlink:href="#icon-alert" x='0' y='0'></use>
        </svg>
      {% else if alert_type == 'success' %}
        <svg viewBox="-192.6 195 11.1 11.1" class="inline-block">
          <use xlink:href="#icon-checkmark" x="0" y="0"></use>
        </svg>
      {% endif %}
    </div>
  </div>
{% endif %}

{% assign alert_message = false %}
