<div class="newsletter ph2 align-c" data-component="newsletter-form">

  <div class="container--xs mha">
    <h3 class="bold">Newsletter</h3>
    <p>Sign up for our newsletter and all of your wildest dreams will come true.</p>
  </div>

  <div class="newsletter__inner container--xs mha">

    {% if settings.mailchimp_url != blank %}

      <div id="newsletterSuccess" class="newsletter__success hide bg-c1 cw fit-x ph1 pv05"><p>Thank you for signing up!</p></div>

      <form target="_blank" action="{{ settings.mailchimp_url }}" method="post">
        <div class="mv1">
          <input id="newsletterEmail" class="newsletter__field" required name="EMAIL" type="email" placeholder="Email Address" value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b075be5b166b58f7abfca70eb_84b14e6b78" tabindex="-1" value=""></div>
        </div>

        <button type="submit" class="button">Submit</button>
      </form>

    {% else %}

      {% form 'customer' %}
        <div id="newsletterSuccess" class="newsletter__success c1 mv05{% unless form.posted_successfully? %} hide{% endunless %}"><p>Thank you for signing up!</p></div>

        <div class="mv1">
          <input id="newsletterEmail" class="newsletter__field" name="contact[email]" type="email" placeholder="Email Address" required value="{% if customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off">
          {% if form.errors %}
            <p class="newsletter__error align-c c3 mt05">*Invalid email address, try again.</p>
          {% endif %}
        </div>

        <button type="submit" class="button">Submit</button>
      {% endform %}

    {% endif %}

  </div>
</div>
