{% if paginate.pages > 1 %}
  <div class="pagination align-c mt2">
    <a class="pagination__arrow inline-block decoration--none{% unless paginate.previous %} cg2{% endunless %}" {% if paginate.previous %}href="{{ paginate.previous.url }}"{% endif %}>&larr;</a>
    <ul class="list--reset inline-block mh1">
      {% for part in paginate.parts %}
        <li class="pagination__page inline-block mh05 align-c bg-cg1">
          <a class="inline-block pv05 ph05{% if part.is_link %} c1{% endif %}" {% if part.is_link %}href="{{ part.url }}"{% endif %}>{{ part.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <a class="pagination__arrow inline-block decoration--none{% unless paginate.next %} cg2{% endunless %}" {% if paginate.next %}href="{{ paginate.next.url }}"{% endif %}>&rarr;</a>
  </div>
{% endif %}
