/***
@stylesheet:    functions
@project:       barrel base shopify theme
@version:       1.0
@groups:        * color
@target:        none
***/


/* Colors
------------------------------------------------------------ */
@function color($name, $key) {
    @if map-has-key($name, $key) {
        @return map-get($name, $key);
    }
    @else {
	    @warn "Unknown `#{$key}` in `#{$name}`.";
	    @return null;
    }
}
