/***
@stylesheet:	layout
@project:		barrel base shopify theme
@version:		1.0
@groups:		* global	
@target:		all
***/


/* Global
------------------------------------------------------------ */
body {
}