/***
@stylesheet:	typography
@project:		barrel base shopify theme
@version:		1.0
@groups:		* headings
				* paragraphs
				* links
@target:		all
***/


/* Headings
------------------------------------------------------------ */
%h1 {

}
%h2 {

}
%h3 {

}
%h4 {

}
%h5 {

}
%h6 {

}


/* Paragraphs
------------------------------------------------------------ */
%p {

}


/* Links
------------------------------------------------------------ */
%a {

}