/***
@stylesheet:	typography
@project:		barrel base shopify theme
@version:		1.0
@groups:		* fonts
				* general
				* headings
				* paragraphs
				* links
@target:		all
***/


/* Fonts
------------------------------------------------------------ */
%ff-arial {
    font-family: Arial, sans-serif;
    font-weight: normal;
}
%ff-fa {
    font-family: FontAwesome;
    font-weight: normal;
}
%fa-search {
	@extend %ff-fa;
	content: '\f002';
}


/* General
------------------------------------------------------------ */
html {
    @extend %ff-arial;
	font-size: $font-size-mobile;
    @include breakpoint( mobile ) {
		font-size: $font-size-tablet;
    }
    @include breakpoint( tablet ) {
		font-size: $font-size-desktop;
    }
}


/* Headings
------------------------------------------------------------ */
%heading {
	@extend %ff-arial;
}
%h1 {
	@extend %heading;
	font-size: $h1-mobile;
    @include breakpoint( mobile ) {
		font-size: $h1-tablet;
    }
    @include breakpoint( tablet ) {
		font-size: $h1-desktop;
    }
}
%h2 {
	@extend %heading;
	font-size: $h2-mobile;
    @include breakpoint( mobile ) {
		font-size: $h2-tablet;
    }
    @include breakpoint( tablet ) {
		font-size: $h2-desktop;
    }
}
%h3 {
	@extend %heading;
	font-size: $h3;
}
%h4 {
	@extend %heading;
	font-size: $h4;
}
%h5 {
	@extend %heading;
	font-size: $h5;
}
%h6 {
	@extend %heading;
	font-size: $h6;
}


/* Paragraphs
------------------------------------------------------------ */
%p {
	font-size: $paragraph;
}


/* Links
------------------------------------------------------------ */
%a {

}