/***
@stylesheet:	variables
@project:		barrel base shopify theme
@version:		1.0
@groups:		* breakpoints
				* colors
				* fonts
				* containers
				* header
				* footer
@target:		none
***/


/* Breakpoints
------------------------------------------------------------ */
$breakpoint: (
	'mobile': 360px,
	'tablet': 640px,
	'medium': 1024px,
	'large': 1280px,
	'wide': 1440px
);


/* Colors
------------------------------------------------------------ */
$blue: (
	'darker': #5A79A5,
	'dark': #5A79A5,
	'normal': #5A79A5,
	'light': #5A79A5,
	'bright': #5A79A5
);


/* Fonts
------------------------------------------------------------ */


/* Header
------------------------------------------------------------ */


/* Footer
------------------------------------------------------------ */
