/***
@stylesheet:	variables
@project:		barrel base shopify theme
@version:		1.0
@groups:		* breakpoints
				* colors
				* transitions
				* typography size
				* containers
				* header
				* footer
@target:		none
***/


/* Breakpoints
------------------------------------------------------------ */
$breakpoints: (
	mobile: 450px,
	tablet: 850px,
	desktop: 1024px,
	large: 1280px,
	wide: 1440px
);


/* Transitions
------------------------------------------------------------ */
$transition-properties: (
	all,
	background-color,
	border-color,
	bottom,
	color,
	height,
	left,
	margin,
	opacity,
	padding,
	right,
	top,
	width
);
$transition-duration: 0.2s;
$transition-timing-function: ease-in-out;


/* Colors
------------------------------------------------------------ */
$black: #000;
$white: #FFF;
$grey: (
	normal: #292929,
	light: #E6E6E6,
	bright: #F9F9F9 
);
$blue: (
	darker: #5A79A5,
	dark: #5A79A5,
	normal: #5A79A5,
	light: #5A79A5,
	bright: #5A79A5
);


/* Typography Size
------------------------------------------------------------ */
/* Reference size. */
$font-size-mobile: 13px;
$font-size-tablet: 15px;
$font-size-desktop: 15px;
/* Small text. */
$font-small: 0.9rem;
/* Pargraph. */
$paragraph: 1rem;
/* Heading 1. */
$h1-mobile: 1.85rem;
$h1-tablet: 2rem;
$h1-desktop: 2.7rem;
/* Heading 2. */
$h2-mobile: 1.35rem;
$h2-tablet: 1.5rem;
$h2-desktop: 1.9rem;
/* Heading 3. */
$h3: 1.3rem;
/* Heading 4. */
$h4: 1.15rem;
/* Heading 5. */
$h5: 0.95rem;
/* Heading 6. */
$h6: 0.75rem;


/* Containers
------------------------------------------------------------ */
/* Container width. */
$container: 1024px;
$container-large: 1280px;
$container-wide: 90%;
/* Container bleeds (20px on both sides). */
$bleed-small: 20px;
$bleed-large: 30px;


/* Header
------------------------------------------------------------ */
$header-width: 100%;
/* Header height. */
$header-mobile: 60px;
$header-tablet: 70px;
$header-desktop: 80px;


/* Footer
------------------------------------------------------------ */
$footer-width: 100%;
/* Footer height. */
$footer-mobile: 510px;
$footer-tablet: 280px;
$footer-desktop: 200px;
