/***
@stylesheet:	align
@project:		barrel base shopify theme
@version:		1.0
@groups:		* global
@target:		all
***/


/* Global
------------------------------------------------------------ */
.align-c {
	text-align: center;
}
.align-l {
	text-align: left;
}
.align-r {
	text-align: right;
}
.align-j {
	text-align: justify;
}
.align-t  {
	vertical-align: top;
}
.align-m  {
	vertical-align: middle;
}
.align-b  {
	vertical-align: bottom;
}