/***
@stylesheet:	layout
@project:		barrel base shopify theme
@version:		1.0
@groups:		* misc.
				* general
                * layout
@target:		all
***/


/* Misc.
------------------------------------------------------------ */
%clearfix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }
}
%full {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: calc( 100% - #{$bleed-small} * 2 );
    @include breakpoint( desktop ) {
        width: calc( 100% - #{$bleed-large} * 2 );
    }
}
%container {
    @extend %full;
    @include breakpoint( desktop ) {
        width: $container;
    }
}
%container--large {
    @extend %full;
    @include breakpoint( large ) {
        width: $container-large;
    }
}
%container--wide {
    @extend %full;
    @include breakpoint( wide ) {
        width: $container-wide;
    }
}
%container--full {
    @extend %full;
}


/* General
------------------------------------------------------------ */
* {
    box-sizing: inherit;
	margin: 0;
}
html,
body {
    box-sizing: border-box;
    color: $grey;
    cursor: default;
    height: 100%;
}
a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
button,
input,
input[type="button"],
input[type="submit"] {
    margin: 0;
    outline: none;
    padding: 0;
}
button,
input[type="button"],
input[type="submit"] {
    cursor: pointer;
    display: block;
}
ul,
ol {
    list-style: none;
    margin-right: 0;
    padding: 0;
    text-align: left;
}


/* Layout
------------------------------------------------------------ */
.content {
    height: 100%;
}
.wrapper {
	height: auto !important;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    margin-bottom: -$footer-mobile;
    @include breakpoint( tablet ) {
        margin-bottom: -$footer-tablet;
    }
    @include breakpoint( desktop ) {
        margin-bottom: -$footer-desktop;
    }
    &:after {
    	content: "";
        height: $footer-mobile;
        @include breakpoint( tablet ) {
            height: $footer-tablet;
        }
        @include breakpoint( desktop ) {
            height: $footer-desktop;
        }
    }
}
