.counter {
  position: relative;
  white-space: nowrap;
  border: $border;
  width: 90px;
  height: 40px;
  background-color: inherit;
  color: inherit;

  input[type="number"]{
    position: absolute;
    bottom: 0; left: 0; right: 0; top: 0;
    margin: auto;
    border: 0;
    width: 2em;
    padding-left: 0;
    padding-right: 0;
    appearance: textfield;
    text-align: center;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  button {
    display: inline-block;
    position: absolute;
    bottom: 0; top: 0;
    margin: auto;
    height: 30px;
    cursor: pointer;
    transition: opacity $speed $ease;
    outline: 0;

    &[disabled]{
      opacity: 0.3;
      pointer-events: none;

      &:hover::before {
        opacity: 0;
      }
    }

    &:focus::before {
      opacity: 1;
    }

    &:first-child {
      left: 5px;
    }
    &:last-child {
      right: 5px;
    }

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content:'';
      display: block;
      position: absolute;
      bottom: 0; left: 0; right: 0; top: 0;
      width: 18px;
      height: 18px;
      margin: auto;
      border-radius: 100px;
      background: $cg1;
      opacity: 0;
      transition: opacity $speed $ease;
    }

    span {
      position: relative;
    }
  }
}

