/**
 * Set height of header using these
 */
$headerHeight: 57px;
$headerHeightMedium: 83px;

/**
 * When to break to mobile layout (px)
 */
$headerBreakpoint: 700;

/**
 * Root element
 */
.nav {
  height: $headerHeight;
  border-bottom: 1px solid #000;

  @media (min-width: break(m)){
    height: $headerHeightMedium;
  }
}

.nav__inner {
  height: 100%;
}

// hide on mobile
.nav__desktop {
  @media (max-width: break($headerBreakpoint, false)){
    display: none;
  }
}

// adjust this for your logo
.nav__logo {
  width: 60px;
  @media (min-width: break(m)){
    width: 100px;
  }
}

/**
 * <li> within the menus
 */
.nav__item {
  &:last-child {
    margin-right: 0;
  }
  @media (min-width: break(l)){
    margin-right: 2em;
  }
}

/**
 * <a> tag
 */
.nav__item__link {}

/**
 * Search, cart icons
 */
.nav__icon {
  height: 2em;
  width: 2em;

  // dictates icons size
  a {
    width: 20px;
    height: 20px;
  }
}

/**
 * Hamburger
 */
.nav__mobile__toggle {
  @media (min-width: break($headerBreakpoint)){
    display: none;
  }

  button {
    display: block;
    position: relative;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    cursor: pointer;

    &:hover span {
      &:first-child {
        transform: translateY(-0.5em);
      }
      &:last-child {
        transform: translateY(0.5em);
      }
    }

    span {
      display: block;
      position: absolute;
      bottom: 0; left: 0; right: 0; top: 0;
      margin: auto;
      background-color: currentColor;
      color: inherit;
      height: 2px;
      border-radius: 10px;
      width: 1.5em;
      transition: transform $speed $ease;

      // create X
      .mobile-nav-is-active & {
        opacity: 0;
      }
      &:first-child,
      &:last-child {
        .mobile-nav-is-active & {
          opacity: 1
        }
      }
      &:first-child {
        transform: translateY(-0.4em);

        .mobile-nav-is-active & {
          transform: rotate(45deg);
        }
      }
      &:last-child {
        transform: translateY(0.4em);

        .mobile-nav-is-active & {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

/**
 * Mobile nav wrapper
 */
.nav__mobile {
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateY(-200%); // push out of the way
  transition: opacity $speed $ease;

  /**
   * shows below the header,
   * and ensures it's never taller
   * than the viewport (for mobile landscape)
   */
  top: $headerHeight;
  max-height: calc(100vh - #{$headerHeight});

  /**
   * If you're not changing header
   * height, you can remove this
   */
  @media (min-width: break(m)){
    top: $headerHeightMedium;
    max-height: calc(100vh - #{$headerHeightMedium});
  }

  // hide on desktop
  @media (min-width: break($headerBreakpoint)){
    display: none;
  }

  /**
   * Classes added to body
   */
  .mobile-nav-is-active & {
    transform: translateY(0);
    opacity: 1;
  }
  .mobile-nav-is-hiding & {
    opacity: 0;
  }
}

/**
 * <li> menu
 */
.nav__mobile__item {
  border-bottom: 1px solid $cb;
  &:last-child {
    border: 0;
  }
}

.nav__mobile__submenu {
  padding-left: 1em;
}

/**
 * Search bar
 */
.nav__search {
  transition: transform $speed $ease;

  &.is-active {
    transform: translateY(100%);
  }
}

form.nav__search__form {
  padding: 1em 0;
  @media (min-width: break(m)){
    padding: 2em 0;
  }
}

input.nav__search__input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(#FFF, 0.3);
  padding: 0 0 0.1em;
  color: white;

  &::placeholder {
    color: rgba(#FFF, 0.3);
  }

  &:focus {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(#FFF, 0.3);
  }
}
