/***
@stylesheet:	form
@project:		barrel base shopify theme
@version:		1.0
@groups:		* misc.
				* row
				* text field
				* dropdown
@target:		all
***/


/* Misc.
------------------------------------------------------------ */
%field {
	background: none no-repeat scroll 0 0 transparent;
	border: 1px solid $grey-light;
	padding: 10px 12px;
}


/* Row
------------------------------------------------------------ */
.row {
	margin: 20px 0 0;
	width: 100%;
	&:first-child {
		margin: 0;
	}
}
.row--submit {
	margin-top: 40px;
}


/* Text Field
------------------------------------------------------------ */
.field {
	@extend %field;
	height: 45px;
	width: 100%;
}
.field--error {
	border-color: $red;
}


/* Label
------------------------------------------------------------ */
.label {
	display: block;
	margin: 0 0 10px;
}