/***
@stylesheet:	table
@project:		barrel base shopify theme
@version:		1.0
@groups:		* misc.
				* table
				* table orders
@target:		all
***/


/* Misc.
------------------------------------------------------------ */
%tr {
	display: table-row;
	padding: 0;
}
%td {
	border-bottom: 2px solid $grey-light;
	display: table-cell;
	padding: 20px 0;
	&:last-child {
		text-align: right;
	}
}


/* Table
------------------------------------------------------------ */
.table {
    border-collapse: collapse; 
	width: 100%;
}
.tb__head {
	display: table-header-group;
	text-transform: uppercase;
}
.tb__row-head {
	@extend %tr;
}
.tb__cell-head {
	@extend %td;
	padding: 0 0 10px;
}
.tb__body {
	display: table-row-group;
}
.tb__row {
	@extend %tr;
}
.tb__cell {
	@extend %td;
}
.tb__foot {
	display: table-footer-group;
}
.tb__row-foot {
	@extend %tr;
}
.tb__cell-foot {
	@extend %td;
}

