@import "lib/reset.css";
@import "lib/variables.css";
@import "lib/colors.css";
@import "lib/breakpoints.css";
@import "lib/display.css";
@import "lib/containers.css";
@import "lib/positioning.css";
@import "lib/flexbox.css";
@import "lib/align.css";
@import "lib/floats.css";
@import "lib/z-index.css";
@import "lib/typography.css";
@import "lib/buttons.css";
@import "lib/forms.css";
@import "lib/lists.css";
@import "lib/tables.css";
@import "lib/spacing.css";

@import "components/counter.css";
@import "components/promobar.css";
@import "components/search-result.css";
@import "components/pagination.css";
@import "components/nav.css";
@import "components/alert.css";

@import "pages/account.css";
@import "pages/cart.css";

#page {
  min-height: 100vh;
}

.outer {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (min-width: break(s)){
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.link {
  color: $c1;
}

.pointer {
  cursor: pointer;
}

/**
 * Wrap WYSIWYG content with this class,
 * and override global styles here
 */
.wysiwyg {
  h1, h2 {
    @extend .ts3;
    line-height: (46/36);
  }
  h3 {
    @extend .ts4;
    line-height: (30/20);
  }
  h4, h6 {
    @extend .ts5;
    line-height: (23/17);
  }

  ol ul {
    @extend .list;
  }

  img {
    display: block;
    width: 100%;
    margin: 2em 0;
  }

  hr {
    margin: 3em 0;
  }

  a {
    @extend .link;
  }
}

.shopify-preview-bar {
  display: none !important;
}
