.cart {
  @media (min-width: break(m)){
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
  }
}

.cart__body {
  border-bottom: $borderLight;

  @media (min-width: break(m)){
    display: table-row-group;
    border-top: $borderLight;
  }
}
.cart__header {
  @media (max-width: break(m, false)){
    display: none;
  }
}
.cart__header__item {
  border-left: $borderLight;
  border-right: $borderLight;
  &:first-child {
    border-left: 0;
    width: 50%;
  }
  &:nth-of-type(2){
    width: 18%;
  }
  &:nth-of-type(3){
    width: 20%;
  }
  &:last-child {
    border-right: 0;
    width: 12%;
  }
}
.cart__item {
  border-top: $borderLight;
  @media (min-width: break(m)){
    display: table-row;
    padding: 0;
  }

  // update link
  .cart__item__update {
    opacity: 0.3;
    pointer-events: none;

    &.is-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
.cart__item__info,
.cart__item__price,
.cart__item__quantity,
.cart__item__total {
  @media (min-width: break(m)){
    display: table-cell;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    border-top: $borderLight;
    border-bottom: $borderLight;
  }
}
.cart__item__info {
  @media (min-width: break(m)){
    padding-right: 1em;
    text-align: left;
    width: 50%;
  }
}
.cart__item__price {
  @media (min-width: break(m)){
    padding-left: 1em;
    padding-right: 1em;
    border-left: $borderLight;
    width: 18%;
     
    p {
      margin-top: 0;
    }
  }
}
.cart__item__total {
  @media (min-width: break(m)){
    padding-left: 1em;
    padding-right: 1em;
    border-left: $borderLight;
    width: 12%;
     
    p {
      margin-top: 0;
    }
  }
}
.cart__item__quantity {
  padding-left: 70px;
  @media (min-width: break(s)){
    padding-left: 100px;
  }
  @media (min-width: break(m)){
    padding-left: 1em;
    padding-right: 1em;
    border-left: $borderLight;
    width: 20%;
  }

  // override
  .counter {
    @media (max-width: break(m, false)){
      margin-left: 0;
    }
  }
}


.cart__item__image {
  width: 100%;
  max-width: 70px;
  @media (min-width: break(s)){
    max-width: 100px;
  }
  @media (min-width: break(m)){
    padding-right: 1.5em;
    max-width: calc(100px + 1.5em);
  }
}
.cart__item__details {
  @media (min-width: break(m)){
    width: calc(100% - 100px - 1.5em) 
  }
}
.cart__item__price--mobile {
  @media (min-width: break(m)){
    display: none;
  }
}
.cart__item__title {
  @media (min-width: break(m)){
    max-width: calc(100% - 60px);
  }
}
.cart__footer {
  @media (min-width: break(m)){
    margin-top: 4em;
  }
}
.cart__footer__bottom {
  @media (min-width: break(m)){
    margin-bottom: 4em;
  }
}
