/***
@stylesheet:	account
@project:		barrel base shopify theme
@version:		1.0
@groups:		* account layout
				* order history layout
@target:		templates/customers/account.liquid
***/


/* Account Layout
------------------------------------------------------------ */
.account__head {

}


/* Order History Layout
------------------------------------------------------------ */
.order-history {
	margin: 40px 0 0;
}
.order-history__holder {
	margin: 20px 0 0;
}
.order-history__none-msg {
	background: none no-repeat scroll 0 0 $grey-light;
	padding: 10rem 0;
	widht: 100%;
}
