/***
@stylesheet:	login
@project:		barrel base shopify theme
@version:		1.0
@groups:		* login layout
				* recover password layout
@target:		templates/customers/login.liquid
***/


/* Login Layout
------------------------------------------------------------ */
.login__holder {
	margin: 0 0 30px;
}
.login__recover-link {
	display: block;
	margin: 0 0 30px;
}
.login__foot {
	display: block;
	margin: 0 0 60px;
	width: 100%;
}


/* Recover Password Layout
------------------------------------------------------------ */
.recover-pwd__holder {
	margin: 50px 0 60px;
}