/***
@stylesheet:	login
@project:		barrel base shopify theme
@version:		1.0
@groups:		* login page
				* recover password page
@target:		templates/customers/login.liquid
***/


/* Login Page
------------------------------------------------------------ */
.login__container {
	@extend %container;
	text-align: center;
}
.login__head {
	@extend %h2;
}
.login__holder {
	margin: 50px 0 30px;
	text-align: left;
}
.login__link--recover {
	display: block;
	margin: 0 0 30px;
}
.login__note {
	display: block;
	margin: 0 0 60px;
	width: 100%;
}


/* Recover Password Page
------------------------------------------------------------ */
.recover__container {
	@extend %container;
	text-align: center;
}
.recover__head {
	@extend %h2;
}
.recover__holder {
	margin: 50px 0 60px;
	text-align: left;
}