/***
@stylesheet:	register
@project:		barrel base shopify theme
@version:		1.0
@groups:		* register page
@target:		templates/customers/register.liquid
***/


/* Register Page
------------------------------------------------------------ */
.login__container {
	@extend %container;
	text-align: center;
}
.login__heading {
	@extend %h2;
}
.login__holder {
	margin: 50px 0 30px;
	text-align: left;
}
.login__note {
	display: block;
	margin: 0 0 60px;
	width: 100%;
}
.register__cancel {
}