/***
@stylesheet:	register
@project:		barrel base shopify theme
@version:		1.0
@groups:		* register layout
@target:		templates/customers/register.liquid
***/


/* Register Layout
------------------------------------------------------------ */
.register__holder {
	margin: 0 0 30px;
}
.register__foot {
	display: block;
	margin: 0 0 60px;
}