/***
@stylesheet:	register
@project:		barrel base shopify theme
@version:		1.0
@groups:		* register page
@target:		templates/customers/register.liquid
***/


/* Register Page
------------------------------------------------------------ */
.register__container {
	text-align: center;
}
.register__holder {
	margin: 50px 0 30px;
	text-align: left;
}
.register__note {
	display: block;
	margin: 0 0 60px;
	width: 100%;
}