<!-- /snippets/partials/account-nav.liquid -->

<nav class="account-nav">
    <ul class="account-nav__list align-c">
        <li class="account-nav__item {% if template contains 'account' %}account-nav__item--active{% endif %}">
            <a class="account-nav__link" href="/account">{{ 'customer.account.view_orders' | t }}</a>
        </li>
        <li class="account-nav__item {% if template contains 'addresses' %}account-nav__item--active{% endif %}">
            <a class="account-nav__link" href="/account/addresses">{{ 'customer.account.view_addresses' | t }}</a>
        </li>
    </ul>
</nav>