<div data-module='plp--complex'></div>

<script type="text/template" id="icon-checkmark">
  {% include 'icons' with 'checkmark' %}
</script>
<script type="text/template" id="icon-cross">
  {% include 'icons' with 'cross' %}
</script>
<script type="text/template" id="icon-arrow-b">
  {% include 'icons' with 'arrow-b' %}
</script>
<script type="text/template" id="icon-large-grid">
  {% include 'icons' with 'large-grid' %}
</script>
<script type="text/template" id="icon-small-grid">
  {% include 'icons' with 'small-grid' %}
</script>

