<div class="header-spacer"></div>

<div class="outer mt2 align-c">

  <div id="login_form" class="container--s">
    <h1 class="h3 mb05">Activate Your Account</h1>

    {% form 'activate_customer_password', class: 'account-entry-form mha' %}

      {{ form.errors | default_errors }}

      <p>
        <span class="prefixed-input flex items-center {% if form.errors %}error{% endif %}">
          <label for="name" class="inline-block mb0 pl1 pr05">Password:</label>
          <input class="flex-grow" type="password" name="customer[password]" autocorrect="off" autocapitalize="off" value="">
        </span>
      </p>
      <p>
        <span class="prefixed-input flex items-center {% if form.errors %}error{% endif %}">
          <label for="name" class="inline-block mb0 pl1 pr05">Confirm:</label>
          <input class="flex-grow" type="password" name="customer[password_confirmation]" autocorrect="off" autocapitalize="off" value="">
        </span>
      </p>

      <div class="mt2">
        <button type="submit" class="button">Activate</button>
        <button type="submit" name="decline" class="link ml1">Cancel</button>
      </div>

    {% endform %}

  </div>
</div>
