<div class="outer mt2">

  <div id="register" class="account-entry-form mha">

    <h1 class="h2 mb075">Create An Account</h1>

    {% form 'create_customer', class: 'mha' %}
      {% if form.posted_successfully? %}
        <div class="alert_message bg-c2 px1 f aic mha align-l">
          <div class="alert__icon mr1 f">
            {% include 'icon' with 'icon-checkmark' %}
          </div>
          <span>We have sent an email to {{form.email}}. Please click the link in your email to verify your account.</span>
        </div>
      {% endif %}

      {% assign field_label = 'First Name' %}
      {% assign field_name = 'customer[first_name]' %}
      {% assign field_type = 'text' %}
      {% include 'input-text' %}

      {% assign field_label = 'Last Name' %}
      {% assign field_name = 'customer[last_name]' %}
      {% assign field_type = 'text' %}
      {% include 'input-text' %}

      {% assign field_label = 'Email' %}
      {% assign field_name = 'customer[email]' %}
      {% assign field_type = 'email' %}
      {% if form.email %}
        {% assign field_value = form.email %}
      {% endif %}
      {% include 'input-text' %}

      {% assign field_label = 'Password' %}
      {% assign field_name = 'customer[password]' %}
      {% assign field_type = 'password' %}
      {% include 'input-text' %}

      {% if form.errors %}
        {% for field in form.errors %}
          {% if field == 'form' %}
            <p class="p0 c3 align-c">{{ form.errors.messages[field] }}</p>
          {% else %}
            <p class="p0 c3 align-c">{{ form.errors.translated_fields[field] | capitalize }} {{ form.errors.messages[field] }}.</p>
          {% endif %}
        {% endfor %}
      {% endif %}

      <p class="mt1 pt05">
        <label class="checkbox">
          <input type="checkbox" name="customer[accepts_marketing]">
          Subscribe to our newsletter
        </label>
      </p>

      <div class="mv1 pv05">
        <button type="submit" class="button">Create Account</button>
      </div>
    {% endform %}

    <span class="block mt1">
      Already have an account? <a class="link block" href="/account/login">Sign in here.</a>
    </span>
  </div>
</div>
