/***
@stylesheet:	search bar
@project:		barrel base shopify theme
@version:		1.0
@groups:		* search bar
@target:		modules/search-bar.liquid
***/


/* Search Bar
------------------------------------------------------------ */
.search-bar {
	display: none;
}
.search-bar__form {
	@extend %clearfix;
}
.search-bar__field {
	float: left;
}
.search-bar__btn {
	@extend %trans-opacity;
	background: none no-repeat scroll 0 0 transparent;
	border: none;
	float: left;
	height: 100%;
	&:after {
		@extend %fa-search;
	}
	&:hover {
		opacity: 0.5;
	}
}