/***
@stylesheet:	search bar
@project:		barrel base shopify theme
@version:		1.0
@groups:		* search bar
@target:		snippets/modules/search-bar.liquid
***/


/* Search Bar
------------------------------------------------------------ */
.search-bar {
	background: none no-repeat scroll 0 0 $grey-bright;
	height: $search-mobile;
	position: relative;
	width: 100%;
    @include breakpoint( mobile ) {
		height: $search-tablet;
    }
    @include breakpoint( tablet ) {
		height: $search-desktop;
    }
}
.search-bar__container {
	@extend %container--full;
}
.search-bar__form {
	@extend %clearfix;
	height: 100%;
	width: 100%;
}
.search-bar__field {
	background: none no-repeat scroll 0 0 transparent;
	border: none;
	height: 100%;
	padding: 0 1rem 0 0;
	width: calc( 100% - #{$search-mobile} / 2 );
    @include breakpoint( mobile ) {
		width: calc( 100% - #{$search-tablet} / 2 );
    }
    @include breakpoint( tablet ) {
		width: calc( 100% - #{$search-desktop} / 2 );
    }
}
.search-bar__btn {
    @include hover-opacity( 0.6 );
	background: none no-repeat scroll 0 0 transparent;
	border: none;
	height: $search-mobile;
	position: absolute;
	right: 0;
	top: 0;
	width: $search-mobile / 2;
    @include breakpoint( mobile ) {
		height: $search-tablet;
		width: $search-tablet / 2;
    }
    @include breakpoint( tablet ) {
		height: $search-desktop;
		width: $search-desktop / 2;
    }
	&:after {
		@extend %fa-search;
	}
}