/***
@stylesheet:	header
@project:		barrel base shopify theme
@version:		1.0
@groups:		* header
				* logo
				* main navigation
				* user navigation
@target:		layout/theme.liquid
***/


/* Header
------------------------------------------------------------ */
.header {
	background: none no-repeat scroll 0 0 $white;
	border-bottom: 1px solid color( $grey, 'bright' );
    height: $header-mobile;
    position: relative;
    text-align: center;
    width: $header-width;
    @include breakpoint( tablet ) {
        height: $header-tablet;
    }
    @include breakpoint( desktop ) {
        height: $header-desktop;
    }
}
.header__container {
	@extend %container--wide;
}


/* Logo
------------------------------------------------------------ */
.main-logo {
	@extend %trans-opacity;
    display: inline-block;
    height: calc( #{$header-mobile} * 0.50 );
    margin: calc( #{$header-mobile} * 0.25 ) 0;
    position: relative;
    @include breakpoint( tablet ) {
    	height: calc( #{$header-tablet} * 0.50 );
    	margin: calc( #{$header-tablet} * 0.25 ) 0;
    }
    @include breakpoint( desktop ) {
    	height: calc( #{$header-desktop} * 0.50 );
    	margin: calc( #{$header-desktop} * 0.25 ) 0;
    }
    &:hover {
    	opacity: 0.8;
    }
}
.main-logo__img {
	display: block;
	height: 100%;
}


/* Main Navigation
------------------------------------------------------------ */
.main-nav {
	@extend %clearfix;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
    @include breakpoint( desktop ) {
    	display: block;
    }
}
.main-nav__list {
	@extend %clearfix;
	height: 100%;
}
.main-nav__item {
	float: left;
	margin: 0 0 0 40px;
	padding: 16px 0;
	&:first-child {
		margin-left: 0;
	}
}
.main-nav__item--has-sub {

}
.main-nav__item--active {

}
.main-nav__link {
	display: block;
}
.main-nav-sub__list {
	display: none;
}
.main-nav-sub__item {

}
.main-nav-sub__link {

}


/* User Navigation
------------------------------------------------------------ */
.user-nav {
	@extend %clearfix;
	display: none;
	height: 50px;
	right: 0;
	margin: -25px 0 0;
	position: absolute;
	top: 50%;
    @include breakpoint( desktop ) {
    	display: block;
    }
}
.user-nav__list {
	@extend %clearfix;
	height: 100%;
}
.user-nav__item {
	float: left;
	margin: 0 0 0 40px;
	padding: 16px 0;
	&:first-child {
		margin-left: 0;
	}
}