/***
@stylesheet:	account-nav
@project:		barrel base shopify theme
@version:		1.0
@groups:		* account navigation
@target:		snippets/partials/account-nav.liquid
***/


/* Account Navigation
------------------------------------------------------------ */
.account-nav {

}
.account-nav__list {

}
.account-nav__item {
	display: inline-block;
	margin: 0 0 0 30px;
	&:first-child {
		margin: 0;
	}
}
.account-nav__list {

}
.account-nav__item {

}
.account-nav__item--active {
	& > a {
	    &:after {
	        background: none no-repeat scroll 0 0 $grey;
	        bottom: 0;
	        content: '';
	        height: 2px;
	        left: 0;
	        position: absolute;
	        width: 100%;
	    }
	}
}
.account-nav__link {
	@include hover-drawline( 2px );
	padding: 0 0 2px;
}