/***
@stylesheet:	header
@project:		barrel base shopify theme
@version:		1.0
@groups:		* main drawer
				* mobile navigation
@target:		layout/theme.liquid
***/


/* Main Drawer
------------------------------------------------------------ */
.main-drawer {
	overflow: hidden;
    width: 100%;
    @include breakpoint( tablet) {
        top: $header-tablet;
    }
    @include breakpoint( desktop) {
        top: $header-desktop;
    }
}
.main-drawer--absolute {
    position: absolute;
    top: $header-mobile;
    z-index: 999;
}

/* Mobile Navigation
------------------------------------------------------------ */
.mobile-nav {
    display: none;
}
