/***
@stylesheet:	header
@project:		barrel base shopify theme
@version:		1.0
@groups:		* misc.
				* header
				* logo
				* main navigation
				* user navigation
				* mobile burger
@target:		layout/theme.liquid
***/


/* Misc.
------------------------------------------------------------ */
%nav-link {
	display: block;
	height: 100%;
	padding: 30px;
	position: relative;
	&:after {
		@extend %trans-height;
		background: none no-repeat scroll 0 0 $grey;
		bottom: 0;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		width: 100%;
	}
	&:hover {
		&:after {
			height: 3px;
		}
	}
}
%burger-ico {
    background: none no-repeat scroll 0 0 $white;
    display: block;
    height: 2px;
    left: calc( 50% - #{$header-mobile} / 2 * 0.40 );
    position: absolute;
    width: calc( #{$header-mobile} * 0.40 );
}


/* Header
------------------------------------------------------------ */
.header {
	background: none no-repeat scroll 0 0 $white;
	border-bottom: 1px solid $grey-light;
    height: $header-mobile;
    position: relative;
    text-align: center;
    width: $header-width;
    @include breakpoint( tablet ) {
        height: $header-tablet;
    }
    @include breakpoint( desktop ) {
        height: $header-desktop;
    }
}
.header__container {
	@extend %container--full;
}


/* Logo
------------------------------------------------------------ */
.main-logo {
	@extend %trans-opacity;
    display: inline-block;
    height: calc( #{$header-mobile} * 0.50 );
    margin: calc( #{$header-mobile} * 0.25 ) 0;
    position: relative;
    @include breakpoint( tablet ) {
    	height: calc( #{$header-tablet} * 0.50 );
    	margin: calc( #{$header-tablet} * 0.25 ) 0;
    }
    @include breakpoint( desktop ) {
    	height: calc( #{$header-desktop} * 0.50 );
    	margin: calc( #{$header-desktop} * 0.25 ) 0;
    }
    &:hover {
    	opacity: 0.6;
    }
}
.main-logo__img {
	display: block;
	height: 100%;
}


/* Main Navigation
------------------------------------------------------------ */
.main-nav {
	@extend %clearfix;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
    @include breakpoint( desktop ) {
    	display: block;
    }
}
.main-nav__list {
	@extend %clearfix;
	height: 100%;
}
.main-nav__item {
	float: left;
	height: 100%;
}
.main-nav__item--has-sub {

}
.main-nav__item--active {

}
.main-nav__link {
	@extend %nav-link;
}
.main-nav-sub__list {
	display: none;
}
.main-nav-sub__item {

}
.main-nav-sub__link {

}


/* User Navigation
------------------------------------------------------------ */
.user-nav {
	@extend %clearfix;
	display: none;
	height: 50px;
	right: 0;
	margin: -25px 0 0;
	position: absolute;
	top: 50%;
    @include breakpoint( desktop ) {
    	display: block;
    }
}
.user-nav__list {
	@extend %clearfix;
	height: 100%;
}
.user-nav__item {
	float: left;
	margin: 0 0 0 40px;
	padding: 16px 0;
	&:first-child {
		margin-left: 0;
	}
}


/* Mobile Burger
------------------------------------------------------------ */
.mobile-burger {
	@extend %trans-opacity;
	background: none no-repeat scroll 0 0 $grey;
	display: block;
	height: calc( #{$header-mobile} * 0.60 );
	left: 0;
	position: absolute;
	top: calc( #{$header-mobile} * 0.20 );
	width: calc( #{$header-mobile} * 0.60 );
    @include breakpoint( tablet ) {
		height: calc( #{$header-tablet} * 0.60 );
		top: calc( #{$header-tablet} * 0.20 );
		width: calc( #{$header-tablet} * 0.60 );
    }
    @include breakpoint( desktop ) {
    	display: none;
    }
	&:before {
	    @extend %burger-ico;
	    @include animation( burger-top-origin );
	    content: "";
		top: 25%;
	}
	&:after {
	    @extend %burger-ico;
	    @include animation( burger-bottom-origin );
	    content: "";
		top: calc( 75% - 2px );
	}
}
.mobile-burger--active {
	opacity: 0.9;
	&:before {
    	@include animation( burger-top );
	}
	&:after {
    	@include animation( burger-bottom );
	}
	> i.mobile-burger__icon {
    	@include animation( burger-middle );
	}
}
.mobile-burger__icon {
    @extend %burger-ico;
	@include animation( burger-middle-origin );
	top: calc( 50% - 1px );
}