.account-entry-form {
  max-width: 350px;
}

/**
 * Address form
 */
.address__form {}
.address__form__group {
  width: 100%;
  @media (min-width: break(s)){
    flex-wrap: nowrap;
  }
}
.address__form__field {
  width: 100%;
  @media (min-width: break(s)){
    width: 50%;
    &:first-child {
      margin-right: 1em;
    }
    &:last-child {
      margin-left: 1em;
    }
  }
}

nav.account__nav {}
li.account__nav__link {}

.orders__order {
  padding: 1.2em;
  border-radius: 4px;

  &:nth-of-type(odd){
    background-color: #f5f5f5;
  }
}

.order__meta {
  margin: 0.25em 0.5em 0.25em 0;
  border: 2px solid #ccc;
  border-radius: 4px;

  span {
    display: inline-block;
    padding: 0.25em 0.75em;
    background-color: #fff;

    &:first-child {
      background-color: #f5f5f5;
    }
    &:first-child {
      padding-top: 0.32em;
    }
  }
}
.order__meta--total {
  border-color: $c1;

  span:first-child {
    background-color: $c1;
    color: white;
  }
}

.order__details {

}
.order__details__row {
  padding: 1.2em;
  border-radius: 4px;

  &:nth-of-type(odd){
    background-color: #f5f5f5;
  }
  .__image {
    width: 120px;
    padding-right: 1.5em;
  }
  .__info {
    min-width: 100%;
    @media (min-width: break(m)){
      min-width: 0;
    }
  }
  .__total {
    @media (min-width: break(m)){
      text-align: right;
    }
  }
}

.order-total {}

.address {
  background-color: #f5f5f5;
}
.address__default {
  padding: 0.25em 0.75em;
  background-color: $c1;
  color: white;
}
