<div class="mini-cart" id="mini-cart" data-module="mini-cart">
  <div class="mini-cart__title">
    <h3>{{- 'cart.general.title' | t -}}</h3>
  </div>

  <div class="mini-cart__wrapper js-wrapper" data-table>
    <i class="mini-cart__loader"></i>
    <div class="mini-cart__table js-table">
    </div>
  </div>
</div>
