{% if cart.items.size > 0 %}
  {% assign items = cart.items %}
{% endif %}

<div class="mini-cart" id="mini-cart" data-module="mini-cart">
  <div class="mini-cart__title">
    <h3>{{ 'cart.general.title' | t }}</h3>
  </div>

  <div class="mini-cart__table {% unless items %}hide{% endunless %}" data-table>
    {% for item in items %}
      {% include 'mini-cart-item' %}
    {% endfor %}
  </div>

  {% unless items %}
    <div class="mini-cart__none">
      <p>{{ 'cart.general.empty' | t }}</p>
    </div>
  {% endunless %}
</div>

{% assign items = false %}
