<div class="hide">

  <!-- icon-search -->
  <svg viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="icon-search" stroke="none" stroke-width="1" fill="currentColor" fill-rule="evenodd"> <path d="M15.7,13.3 L11.89,9.47 C12.59,8.49 13,7.3 13,6 C13,2.69 10.31,0 7,0 C3.69,0 1,2.69 1,6 C1,9.31 3.69,12 7,12 C8.3,12 9.48,11.59 10.47,10.89 L14.3,14.7 C14.49,14.9 14.75,15 15,15 C15.25,15 15.52,14.91 15.7,14.7 C16.09,14.31 16.09,13.68 15.7,13.29 L15.7,13.3 Z M7,10.7 C4.41,10.7 2.3,8.59 2.3,6 C2.3,3.41 4.41,1.3 7,1.3 C9.59,1.3 11.7,3.41 11.7,6 C11.7,8.59 9.59,10.7 7,10.7 L7,10.7 Z"></path> </g> </svg>

  <!-- icon-map -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.4 11.1" style="enable-background:new 0 0 7.4 11.1;" xml:space="preserve"> <path fill="currentColor" id="icon-map" d="M3.7,0C1.7,0,0,1.7,0,3.7C0,4.2,0.1,4.6,0.2,5l2.6,5.6c0.1,0.3,0.5,0.5,0.8,0.5s0.7-0.2,0.8-0.5L7.2,5 c0.2-0.4,0.2-0.9,0.2-1.3C7.4,1.7,5.8,0,3.7,0z M3.7,5.6c-1,0-1.9-0.8-1.9-1.9s0.8-1.9,1.9-1.9s1.9,0.8,1.9,1.9S4.7,5.6,3.7,5.6z"/> </svg>

  <!-- icon-checkmark -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11 11" style="enable-background:new -192.6 195 11.1 11.1;" xml:space="preserve"> <path fill="currentColor" id="icon-checkmark" d="M10.3,2.7c-0.5-0.9-1.2-1.5-2-2C7.4,0.2,6.5,0,5.5,0S3.6,0.2,2.7,0.7s-1.5,1.2-2,2S0,4.5,0,5.5,s0.2,1.9,0.7,2.8c0.5,0.9,1.2,1.5,2,2S4.5,11,5.5,11s1.9-0.2,2.8-0.7c0.9-0.5,1.5-1.2,2-2C10.8,7.4,11,6.5,11,5.5S10.8,3.5,10.3,2.7,z M9.1,4.6L5.2,8.5C5.1,8.6,5,8.6,4.9,8.6s-0.2,0-0.3-0.1L2,5.9C1.9,5.8,1.9,5.7,1.9,5.6s0-0.2,0.1-0.3l0.7-0.7,C2.8,4.5,2.9,4.5,3,4.5s0.2,0,0.3,0.1l1.6,1.6l3-3C8,3.1,8.1,3.1,8.2,3.1s0.2,0,0.3,0.1l0.7,0.7C9.3,4,9.3,4.1,9.3,4.2,C9.2,4.4,9.2,4.5,9.1,4.6z"/> </svg>

  <!-- icon-alert -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 11.133 11.133" style="enable-background:new 0 0 11.133 11.133;" xml:space="preserve"> <path fill="currentColor" id="icon-alert" d="M5.566,0C2.493,0,0,2.493,0,5.566s2.493,5.566,5.566,5.566s5.566-2.493,5.566-5.566S8.64,0,5.566,0z M6.494,9.038c0,0.131-0.102,0.239-0.225,0.239H4.878c-0.13,0-0.239-0.108-0.239-0.239V7.661c0-0.131,0.109-0.239,0.239-0.239H6.27 c0.123,0,0.225,0.108,0.225,0.239V9.038z M6.479,6.545C6.472,6.646,6.364,6.727,6.233,6.727H4.893c-0.138,0-0.247-0.08-0.247-0.182 L4.522,2.044c0-0.051,0.022-0.102,0.073-0.131c0.043-0.036,0.109-0.058,0.174-0.058h1.595c0.065,0,0.13,0.021,0.174,0.058 C6.588,1.942,6.61,1.993,6.61,2.044L6.479,6.545z"/> </svg>

  <!-- icon-cart -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 50 42.2" style="enable-background:new 0 0 50 42.2;" xml:space="preserve"> <path id="icon-cart" fill="currentColor" d="M50,5.8v15.4c0,1-0.8,1.8-1.7,1.9l-31.4,3.7c0.2,0.7,0.4,1.4,0.4,2.1c0,0.7-0.4,1.3-0.7,1.9h27.6 c1.1,0,1.9,0.9,1.9,1.9c0,1.1-0.9,1.9-1.9,1.9H43c1.8,0.3,3.2,1.9,3.2,3.8c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8 c0-1.9,1.4-3.5,3.2-3.8H16c1.8,0.3,3.2,1.9,3.2,3.8c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-1.9,1.4-3.5,3.2-3.8h-1.3 c-1.1,0-1.9-0.9-1.9-1.9c0-0.9,1.4-3.2,1.8-4.1L8.1,3.8H1.9C0.9,3.8,0,3,0,1.9C0,0.9,0.9,0,1.9,0h7.7c2,0,2.1,2.4,2.4,3.8h36.1 C49.1,3.8,50,4.7,50,5.8z"/> </svg>

  <!-- icon-facebook -->
  <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> <path id="icon-facebook" fill="currentColor" d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/> </svg>

  <!-- icon-twitter -->
  <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> <path id="icon-twitter" fill="currentColor" d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-185.5-111.5t-73.5-205.5v-4q68 38 146 41-66-44-105-115t-39-154q0-88 44-163 121 149 294.5 238.5t371.5 99.5q-8-38-8-74 0-134 94.5-228.5t228.5-94.5q140 0 236 102 109-21 205-78-37 115-142 178 93-10 186-50z"/> </svg>

  <!-- icon-instagram -->
  <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> <path id="icon-instagram" fill="currentColor" d="M1490 1426v-648h-135q20 63 20 131 0 126-64 232.5t-174 168.5-240 62q-197 0-337-135.5t-140-327.5q0-68 20-131h-141v648q0 26 17.5 43.5t43.5 17.5h1069q25 0 43-17.5t18-43.5zm-284-533q0-124-90.5-211.5t-218.5-87.5q-127 0-217.5 87.5t-90.5 211.5 90.5 211.5 217.5 87.5q128 0 218.5-87.5t90.5-211.5zm284-360v-165q0-28-20-48.5t-49-20.5h-174q-29 0-49 20.5t-20 48.5v165q0 29 20 49t49 20h174q29 0 49-20t20-49zm174-208v1142q0 81-58 139t-139 58h-1142q-81 0-139-58t-58-139v-1142q0-81 58-139t139-58h1142q81 0 139 58t58 139z"/> </svg>

  <!-- icon-pinterest -->
  <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"> <path id="icon-pinterest" fill="currentColor" d="M1664 896q0 209-103 385.5t-279.5 279.5-385.5 103q-111 0-218-32 59-93 78-164 9-34 54-211 20 39 73 67.5t114 28.5q121 0 216-68.5t147-188.5 52-270q0-114-59.5-214t-172.5-163-255-63q-105 0-196 29t-154.5 77-109 110.5-67 129.5-21.5 134q0 104 40 183t117 111q30 12 38-20 2-7 8-31t8-30q6-23-11-43-51-61-51-151 0-151 104.5-259.5t273.5-108.5q151 0 235.5 82t84.5 213q0 170-68.5 289t-175.5 119q-61 0-98-43.5t-23-104.5q8-35 26.5-93.5t30-103 11.5-75.5q0-50-27-83t-77-33q-62 0-105 57t-43 142q0 73 25 122l-99 418q-17 70-13 177-206-91-333-281t-127-423q0-209 103-385.5t279.5-279.5 385.5-103 385.5 103 279.5 279.5 103 385.5z"/> </svg>

  <!-- icon-youtube -->
  <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path id="icon-youtube" fill="currentColor" d="M711 1128l484-250-484-253v503zm185-862q168 0 324.5 4.5t229.5 9.5l73 4q1 0 17 1.5t23 3 23.5 4.5 28.5 8 28 13 31 19.5 29 26.5q6 6 15.5 18.5t29 58.5 26.5 101q8 64 12.5 136.5t5.5 113.5v176q1 145-18 290-7 55-25 99.5t-32 61.5l-14 17q-14 15-29 26.5t-31 19-28 12.5-28.5 8-24 4.5-23 3-16.5 1.5q-251 19-627 19-207-2-359.5-6.5t-200.5-7.5l-49-4-36-4q-36-5-54.5-10t-51-21-56.5-41q-6-6-15.5-18.5t-29-58.5-26.5-101q-8-64-12.5-136.5t-5.5-113.5v-176q-1-145 18-290 7-55 25-99.5t32-61.5l14-17q14-15 29-26.5t31-19.5 28-13 28.5-8 23.5-4.5 23-3 17-1.5q251-18 627-18z"/></svg>

  <!-- icon-x -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 14.7 14.7" style="enable-background:new 0 0 14.7 14.7;" xml:space="preserve">
    <polygon fill="currentColor" id="icon-x" points="14.7,0.5 14.3,0 7.4,6.9 0.5,0 0,0.5 6.9,7.4 0,14.3 0.5,14.7 7.4,7.8 14,14.5 14.3,14.7 14.7,14.3 7.8,7.4 "/>
  </svg>

  <!-- icon-refresh -->
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve"><path id="icon-refresh" fill="currentColor" d="M11.8,7.2C11.8,7.3,11.8,7.3,11.8,7.2c-0.3,1.5-1,2.6-2.1,3.4S7.4,12,6,12c-0.8,0-1.5-0.1-2.2-0.4,s-1.3-0.7-1.9-1.2l-1,1c-0.1,0.1-0.2,0.1-0.4,0.1c-0.1,0-0.3,0-0.4-0.1C0,11.3,0,11.1,0,11V7.5c0-0.1,0-0.3,0.1-0.4,C0.2,7,0.4,7,0.5,7H4c0.1,0,0.3,0,0.4,0.1c0.1,0.1,0.1,0.2,0.1,0.4s0,0.3-0.1,0.4L3.3,8.9c0.4,0.3,0.8,0.6,1.3,0.8S5.5,10,6,10,c0.7,0,1.3-0.2,2-0.5C8.6,9.2,9,8.7,9.4,8.1C9.5,8,9.6,7.7,9.8,7.2C9.9,7.1,9.9,7,10.1,7h1.5c0.1,0,0.1,0,0.2,0.1,C11.8,7.1,11.8,7.2,11.8,7.2z M12,1v3.5c0,0.1,0,0.3-0.1,0.4C11.8,5,11.6,5,11.5,5H8C7.9,5,7.7,5,7.6,4.9C7.5,4.8,7.5,4.6,7.5,4.5,s0-0.3,0.1-0.4l1.1-1.1C8,2.4,7,2,6,2C5.3,2,4.7,2.2,4,2.5C3.4,2.8,3,3.3,2.6,3.9C2.5,4,2.4,4.3,2.2,4.8C2.1,4.9,2.1,5,1.9,5H0.4,C0.3,5,0.3,5,0.2,4.9c0,0-0.1-0.1-0.1-0.2V4.7c0.3-1.4,1-2.5,2.1-3.4C3.3,0.4,4.6,0,6,0c0.8,0,1.5,0.1,2.2,0.4s1.4,0.7,1.9,1.2l1-1,c0.1-0.1,0.2-0.1,0.4-0.1c0.1,0,0.3,0,0.4,0.1C12,0.7,12,0.9,12,1z"/></svg>

</div>
